<h1>Payment Results</h1>
<div>APR</div>
<div>&emsp;<%=@apr %></div>
<div>Number of years</div>
<div>&emsp;<%=@years %></div>
<div>Principal</div>
<div>&emsp;<%=@princ %></div>
<div>Payment</div>
<div>&emsp;<%=@payment %></div>
<br>
<a href="/payment/new">Calculate another payment</a>
